{% extends 'screen/base.html' %}

{% block screens %}
    <table id="tbVideo" border="0" width="100%" height="100%" cellspacing="0" cellpadding="0" style="text-align:center;">
        <tr>

            <td colspan="3"  style="background-color:black">
            <div id="c1Text" class="c2Text"></div>
                <video id="video1" autoplay reload class="video1"  height="100%" width="100%">
                    Camera 1
                    <ul id="links1">
                        {% for l in links1 %}
                            <li>{{ l }}</li>
                        {% endfor %}

                    </ul>
                    <source src=" " type="video/mp4">
                </video>
            </td>


            <td colspan="3"  style="background-color:black">
            <div id="c2Text" class="c2Text"></div>
                <video id="video2" autoplay reload class="video2"  height="100%" width="100%">
                    Camera 1
                    <ul id="links2">
                        {% for l in links2 %}
                            <li>{{ l }}</li>
                        {% endfor %}

                    </ul>
                    <source src=" " type="video/mp4">
                </video>
            </td>

        </tr>


    </table>

    <script type='text/javascript'>

        var links1 = [];
        var links2 = [];


        var l1 = 0;
        var l2 = 0;

        $(function () {
            $("#links1 > li").each( function(index) {
                links1.push($(this).html())
            });
            $("#links2 > li").each( function(index) {
                links2.push($(this).html())
            });



            $('#video1 source').attr("src","http://189.80.11.182:8082/vr/record/{{ c1 }}/"+ $(date).val() +"/MP4/"+ links1[l1]);
            $('#video1').load();

            $('#video2 source').attr("src","http://189.80.11.182:8082/vr/record/{{ c2 }}/"+ $(date).val() +"/MP4/"+ links2[l2]);
            $('#video2').load();

            setLegenda();


            document.getElementById('video1').addEventListener('ended', function(e) {
                if(l1 < (links1.length -1)){
                    l1 = l1+1;
                }
                $('#video1 source').attr("src","http://189.80.11.182:8082/vr/record/{{ c1 }}/"+ $(date).val() +"/MP4/"+ links1[l1]);
                $('#video1').load();
                setLegenda();
            });

            document.getElementById('video2').addEventListener('ended', function(e) {
                if(l2 < (links2.length -1)){
                    l2 = l2+1;
                }
                $('#video2 source').attr("src","http://189.80.11.182:8082/vr/record/{{ c2 }}/"+ $(date).val() +"/MP4/"+ links2[l2]);
                $('#video2').load();
                setLegenda();
            });


            function setLegenda() {
                $('#c1Text').html('<b>' + $('#link1 option:selected').text().slice(3) + '</b>');
                $('#c2Text').html('<b>' + $('#link2 option:selected').text().slice(3) + '</b>');


                $('#c1Text').html($('#c1Text').html() + '<p><b style="text-align:center">' + $(date).val() + " " + links1[l1].slice(6, 8) + ":" + links1[l1].slice(8, 10) + '</b>');
                $('#c2Text').html($('#c2Text').html() + '<p><b style="text-align:center">' + $(date).val() + " " + links2[l2].slice(6, 8) + ":" + links2[l2].slice(8, 10) + '</b>');
            }



        });
    </script>
{% endblock %}